html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ImageS {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.ImageM {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.ImageL {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
