@page

@model Itadakimasu.Model.BlobViewer

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="my-3">
        <div class="actressList">
            <ul class="p-1">
                @foreach (var item in Model.FoodImages)
                {
                    <li class="border">
                            <a href="/(@item.Url)">a</a>
                    </li>
                }
            </ul>
        </div>
    <div class="clearfix" />
</div>

