@model List<Itadakimasu.Models.ViewFoodImage>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

    <div class="my-3">
        <section>
            <div class="actressList">
                <ul class="p-1">
                    @foreach (var item in Model)
                    {
                    <li class="BustupM border">
                        <div class="ActressImage">
                            <img src="@item.BlobUrl" alt='@(item.Name)のバストアップ画像' title="@(item.Name)">
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </section>
        <div class="clearfix" />
    </div>
